.Footer .line-2 {
  width: 60%;
  margin-top: 180px;
}
.Footer h5 {
  font-size: 15px;
  font-weight: 100;
}
footer .line-3 {
  width: 20px;
  border-top: 2px solid #fff;
  display: flex;
  position: relative;
  top: -25px;
  right: -100px;
}
footer .footer-icons {
  display: flex;
  position: relative;
  top: -50px;
  right: -130px;
  gap: 10px;
  font-size: 15px;
}
footer .contact-details {
  color: #fff;
  display: flex;
  position: relative;
  top: 1px;
  text-decoration: none;
}
@media (max-width: 550px) {
  .Footer {
    display: flex;
    position: relative;
    bottom: -300px;
  }
  .Footer .line-2 {
    width: 90%;
    margin-top: 100px;
  }
}

@media (max-width: 960px) {
  .Footer .line-2 {
    width: 70%;
    margin-top: 100px;
  }
}
