.Home .line-1 {
  width: 10%;
  border-top: 5px solid #cc7339;
  margin-top: 60px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  margin-top: 50px;
}

.grid img {
  width: 610px;
}
.skills-btn {
  border: 1px solid #cc7339;
  border-radius: 10px;
  padding: 7px 50px;
  color: #fff;
  background-color: #cc7339;
  font-size: 18px;
  margin-top: 20px;
  text-decoration: none;
}
.skills-btn:hover {
  color: rgba(225, 221, 221, 0.45);
}
.skills-btn:active {
  background-color: #1d1a18;
  transform: translateY(2px);
  border: 1px solid #fff;
  color: #fff;
}

@media (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .Home .line-1 {
    width: 20%;
  }
  .grid img {
    display: flex;
    position: relative;
    top: -200px;
    right: 1px;
    width: 250px;
  }
  .skills-btn {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
  }
}

@media (max-width: 960px) {
  .grid img {
    width: 300px;
  }
  .Home .line-1 {
    width: 22%;
  }
}
