.Home .line-1 {
  width: 10%;
  border-top: 5px solid #cc7339;
  margin-top: 60px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  margin-top: 50px;
}

.grid img {
  max-width: 500px;
}
.skills-btn {
  border: 1px solid #cc7339;
  border-radius: 10px;
  padding: 7px 50px;
  color: #fff;
  background-color: #cc7339;
  font-size: 18px;
  margin-top: 20px;
}
.skills-btn:hover {
  color: rgba(225, 221, 221, 0.45);
}
.skills-btn:active {
  background-color: #1d1a18;
  transform: translateY(2px);
  border: 1px solid #fff;
  color: #fff;
}
.Home .line-2 {
  width: 60%;
  margin-top: 100px;
}

.Home h5 {
  font-size: 15px;
  font-weight: 100;
}
footer .line-3 {
  width: 20px;
  border-top: 2px solid #fff;
  display: flex;
  position: relative;
  top: -25px;
  right: -100px;
}
footer .icons {
  display: flex;
  position: relative;
  top: -50px;
  right: -130px;
  gap: 10px;
  font-size: 15px;
}
footer .contact-details {
  color: #fff;
  display: flex;
  position: relative;
  top: 1px;
  text-decoration: none;
}
@media (max-width: 550px) {
  .Home .line-1 {
    width: 20%;
  }

  .grid img {
    width: 300px;
  }
}

@media (max-width: 960px) {
  .Home .line-1 {
    width: 22%;
  }
  .grid img {
    width: 400px;
  }
  .Home .line-2 {
    width: 70%;
  }
}
