.navbar {
  font-size: 20px;
  margin-top: 35px;
}

.logo {
  color: #fff;
  font-size: 30px;
}
.logo:hover {
  color: #fff;
  transform: scale(1.1);
}

.background {
  color: #fff;
  display: flex;
  position: relative;
  right: -350px;
}

.background:hover {
  color: rgba(225, 221, 221, 0.45);
}

.navbar-nav {
  gap: 40px;
}
.contact {
  display: none;
}
.dot {
  color: #cc7339;
  font-size: 8px;
  margin-top: 15px;
}
.btn {
  border: 1px solid #cc7339;
  border-radius: 10px;
  padding: 7px 40px;
  color: #fff;
  background-color: #cc7339;
  font-size: 18px;
  display: flex;
  position: relative;
  right: -580px;
}
.btn:hover {
  background-color: #cc7339;
  color: rgba(225, 221, 221, 0.45);
}
.hamburger-btn {
  background-color: #cc7339;
}

@media (max-width: 550px) {
  .logo {
    margin-left: -10px;
  }
  .btn {
    display: none;
  }
  .navbar-nav .background {
    right: -130px;
    font-size: 15px;
  }
  .contact {
    display: block;
  }

  .hamburger-btn {
    display: flex;
    position: relative;
    left: 40px;
    width: 50px;
  }
}

@media (max-width: 960px) {
  .btn {
    display: none;
  }
  .hamburger-btn {
    margin-right: 10px;
  }
  .background {
    right: -300px;
  }
  .contact {
    display: block;
  }
}
